<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script src="./jquery-1.11.3.min.js"></script>
	<script src="venues.js"></script>
</head>
<body>


	
	<form id="form">
		<p id="inputArea"> <h2>Enter a Location </h2></p> 
		<input id="enterLocation" type="text" value="" />
		<select id="category" name="category">
		  <option value="artsRec">Arts and Recreation</option>
		  <option value="food">Food</option>
		  <option value="night">NightLife</option>
		  <option value="outdoors">Outdoors</option>
		</select>
		<input id="submit" type="submit" value="find"/>

	</form>
	<br>
	<div id="responseArea">
		<table>
			
		</table>
	</div>




</body>

</html>